<ion-header [translucent]="true">
    <ion-toolbar color="secondary">
        <ion-title>
            HOME
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="matchService.teamsMatch.length < 2" (click)="navigateToMach()" expand="block" style="color: rgb(255, 255, 255); background-color: black; border-radius: 5px;">GAME</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-item>
            <ion-item>
                <ion-label position="floating">Enter {{team}} Team Name</ion-label>
                <ion-input #name></ion-input>
            </ion-item>
        </ion-item>
        <ion-button expand="block" color="secondary" (click)="addTeam(name)">Add Team</ion-button>
    </div>
</ion-content>